.mapa {
    width: 700px;
    height: 300px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: relative;
    padding: 5px;
}

.mapa .carro {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    transition: all .1s linear;
}

.botoes {
    width: 100px;
    display: flex;
    position: relative;
    height: 100px;
}
.botoes button { position: absolute; }
.botoes button:nth-child(1) {
    left: calc(50% - 15px);
}
.botoes button:nth-child(2) {
    left: calc(50% - 15px);
    bottom: 0;
}

.botoes button:nth-child(3) {
    right: 0;
    top: calc(30% + 2px);
}

.botoes button:nth-child(4) {
    left: 0;
    top: calc(30% + 2px);
}